html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#bg {
    background: url(../images/apples.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
#content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff5e6;
    -moz-box-shadow: 0 0 20px 20px #0f0f0a;
    -webkit-box-shadow: 0 0 20px 20px#0f0f0a;
    box-shadow: 0 0 20px 20px #0f0f0a;
    border-radius: 50%;
	width: 700px;
	height: 700px;
}
#fields {
    position: fixed;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30pt;
     
}
button[type="button"] {
    font-family: 'Century Gothic';
    font-size: 25pt;
    background-color: ;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border-radius: 10px;
}
button[type="button"]:hover, button[type="button"]:focus  {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 0 0 10px 3px #cc7a00;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border-radius: 10px;
}

#button {
    position: fixed;
    bottom:5%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#welcome {
    position: fixed;
    top:25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Century Gothic';
    font-size: 40pt;
    text-align: center;
}

/* for form */
input[type="text"] {
    font-family: 'Century Gothic';
    font-size: 18pt;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    
}
input[type="text"]:focus  {
    outline: none;
    -webkit-box-shadow: 0 0 10px 3px #cc7a00;
    -moz-box-shadow: 0 0 10px 3px #cc7a00;
    box-shadow: 0 0 10px 3px #cc7a00;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
