#bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #F8F9F9 url(../../resources/bg_dripping.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#logout {
  cursor: pointer;
  position: fixed;

  width: 5em;
  height: 3em;

  top: 2%;
  right: 1%;

  text-align: center;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 15pt;
  color: #fff;

  background: #0032ff;

  border-radius: 0.5em;

  border: none;
  outline: none;
}





